/* .header-list{
    display: flex;
    gap: 40px;
}
.list-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-desc{
    margin: 20px 0;
}
.list-item.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  .header-container{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 0px 0px;
}

.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
} */